body {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.chrono {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.time {
  margin: auto;
  width: 100%;
  border: 1px solid #191919;
  border-radius: 5px;
  padding: 5px 0;
  font-size: 24px;
  margin-bottom: 10px;
}

.time span {
  padding: 5px;
}

.controls {
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);

  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 25%;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(62deg, #e0c3fc 0%, #8ec5fc 100%);
}
